.add-tag,
.tag {
  background-color: #555555;
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  cursor: pointer;
}

.tag {
  color: white;
  cursor: pointer;
  background-color: #1bb4e6;
  margin-right: 6px;
  border-radius: 10px;
}

.tag-name-search-input {
  border-radius: 10px;
  height: 24px;
}

.tag-name-input {
  margin-right: 10px;
  position: relative;
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}

.App {
  margin: auto;
  height: 800px;
  width: 1200px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #c0c0c0;
  border-radius: 12px;
}

.movies {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.movie {
  border-radius: 12px;
  background-color: #dcdcdc;
  font-size: 0.9em;
  color: grey;
  margin: 12px;
  padding: 6px;
  padding-left: 14px;
  display: grid;
  grid-template-columns: 3fr 6fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.App-link {
  color: #61dafb;
}

#root,
html,
body {
  height: 100%;
}

.search input[type="text"] {
  width: 100%;
  border: 2px solid #aaa;
  border-radius: 4px;
  margin: 8px 0;
  outline: none;
  padding: 8px;
  box-sizing: border-box;
  transition: 0.3s;
}

.search input[type="text"]:focus {
  border-color: dodgerBlue;
  box-shadow: 0 0 8px 0 dodgerBlue;
}

.search .inputWithIcon input[type="text"] {
  padding-left: 40px;
}

.search .inputWithIcon {
  position: relative;
}

.search .inputWithIcon i {
  position: absolute;
  left: 0;
  top: 8px;
  padding: 9px 8px;
  color: #aaa;
  transition: 0.3s;
}

.search .inputWithIcon input[type="text"]:focus + i {
  color: dodgerBlue;
}
