.Add-Tag,
.Tag {
  background-color: #555555;
  border: none;
  color: white;
  padding: 4px 12px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
}

.Tag {
  color: white;
  cursor: pointer;
  background-color: #1bb4e6;
  margin-right: 6px;
  border-radius: 10px;
}

.Tag-Name-Search-Input {
  border-radius: 10px;
  height: 24px;
}

.Tag-Name-Input {
  margin-right: 10px;
  position: relative;
  border: 2px solid #cdcdcd;
  border-color: rgba(0, 0, 0, 0.14);
  border-radius: 8px;
}

.App {
  margin: auto;
  height: 800px;
  width: 1200px;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #f3eeee;
  border-radius: 12px;
}

.Movies {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-y: scroll;
}

.Movie {
  border-radius: 12px;
  background-color: #dcdcdc;
  font-size: 0.9em;
  color: grey;
  margin: 12px;
  padding: 6px;
  padding-left: 14px;
  display: grid;
  grid-template-columns: 3fr 6fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

#root,
html,
body {
  height: 100%;
}
